body {
  background: beige;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: darkblue;
}

.about {
  background-color: lightblue;
  padding: 10px;
  margin-bottom: 10px;
}

.skills {
  background-color: lightgreen;
  padding: 10px;
  margin-bottom: 10px;
}

.projects {
  background-color: lightyellow;
  padding: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-wrap: wrap;
}

/* White oval project cards */
.project {
  width: 30%;
  margin: 10px;
  padding: 20px 10px;
  background: white;
  border-radius: 50px;        /* smoother, oval-like box */
  box-shadow: 0 0 20px rgba(0,0,0,0.1);  /* optional but looks great */
}

/* Make pictures centered and consistent */
.project img {
  width: 300px;
  height: 300px;
  margin: 10px auto;
  border: 2px solid rgb(126, 14, 201);
  display: block;
}

/* Force the Choose Your Own Adventure project to the far right */
.project:first-of-type {
  margin-left: auto;
}

.contact {
  background-color: lightpink;
  padding: 10px;
  margin-bottom: 10px;
}
