body {
  background: beige;
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    font-size: 4rem;
    text-align: center;
    margin: 30px 0;
}


.projects { 
	display:flex; 
	flex-wrap:wrap;  
} 
.projects h2 {
	width: 100%;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: lightslategray;
    border-radius: 25%;
}
.project h3 {
    margin-left: 50px;
}
.project img {
    width: 40px;
    height: 30px;
    margin: 10px auto;
    border: 2px solid navy;
    display: block;
  
    text-align: center;
}
.project p {
  
    text-align: center;
    margin: 15px;
}

.about {
  background-color: lightblue;
  padding: 40px;
  margin-bottom: 20px;
}

.skills {
  background-color: lightgreen;
  padding: 40px;
  margin-bottom: 20px;
}

.contact {
  background-color: lightpink;
  padding: 40px;
  margin-bottom: 20px;
}
