body {
  background: beige;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: darkblue;
}

.about {
  background-color: lightblue;
  padding: 8%;
  margin-bottom: 10px;
}

.skills {
  background-color: lightgreen;
  padding: 8%;
  margin-bottom: 10px;
}

.projects {
  background-color: lightyellow;
  padding: 8%;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;   /* centers all boxes in a row */
  gap: 20px;                 /* space between boxes */
}

.project {
  background: white;
  width: 15%;
  padding: 20px;
  border-radius: 40px;       /* soft oval corners */
  text-align: center;        /* centers ALL text automatically */
}

.project img {
  width: 250px;
  height: 250px;
  object-fit: cover;         /* keeps images centered and neat */
  border: 2px solid purple;
  margin-top: 10px;
}


/* Force the Choose Your Own Adventure project to the far right */
.project:first-of-type {
  margin-left: auto;
}

.contact {
  background-color: lightpink;
  padding: 10px;
  margin-bottom: 10px;
}
