body {
  background: beige;
  font-family: Arial, Helvetica, sans-serif;
}


.projects {
  background-color: lightyellow;
  padding: 40px 0;         
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;                 
  flex-wrap: wrap;           
}


.project {
  background: white;
  width: 200px;             
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.project img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid purple;
  margin: 15px auto;
  display: block;
}


.project:first-of-type {
  margin-left: 0;
}


.about {
  background-color: lightblue;
  padding: 40px;
  margin-bottom: 20px;
}

.skills {
  background-color: lightgreen;
  padding: 40px;
  margin-bottom: 20px;
}

.contact {
  background-color: lightpink;
  padding: 40px;
  margin-bottom: 20px;
}
